
  .section-skills {
    background-color: $color-white;
    padding-bottom: 6rem;

    .container {
      padding: 0 3rem;

      .heading-primary-main {
        display: block;
        font-size: 6rem;
        letter-spacing: .25rem;
        padding-top: 6rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include respond(phone) {
            font-size: 4rem;
        }

      }

      .heading-secondary {
        display: block;
        padding-top: 3rem;
        padding-bottom: 9rem;
        color: darken($tertiary-color, 50%);

        @include respond(phone) {
            font-size: 1.5rem;
        }
      }

      .skills-field {
        width: auto;
        margin: 0 auto;
    
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(6, 1fr);
    
        grid-gap: 1rem;
  
        @include respond(tab-port) {
          grid-template-rows: repeat(2, 1fr);
          grid-template-columns: repeat(3, 1fr);
        }

        .skills-card {  
  
          
          .card-img {
            width: auto;
            height: 6rem;
          }

          margin-bottom: 3rem;
        }
      

    }
    
    }
  

  }

